// Default Theme Color Palette

// Red
$red-light: #ff5d62;
$red-dark: #e82424;

// Pink
$pink-light: #d27e99;
$pink-dark: #e46876;

// Purple
$purple-light: #938aa9;
$purple-dark: #957fb8;

// Blue
$blue-light: #2d4f67;
$blue-dark: #223249;

// Teal
$teal-light: #7aa89f;
$teal-dark: #658594;

// Green
$green-light: #98bb6c;
$green-dark: #76946a;

// Yellow
$yellow-light: #e6c384;
$yellow-dark: #c0a36e;

// Orange
$orange-light: #ffa066;
$orange-dark: #ff8940;

// Grey
$grey-050: #f9f9f9;
$grey-100: #f3f3f3;
$grey-150: #ededee;
$grey-200: #dbdbdc;
$grey-250: #c9c9ca;
$grey-300: #c0c0c2;
$grey-350: #9e9ea1;
$grey-400: #98989b;
$grey-450: #7d7d81;
$grey-500: #68686c;
$grey-550: #4d4d52;
$grey-600: #404046;
$grey-650: #3a3a40;
$grey-700: #28282f;
$grey-750: #222229;
$grey-800: #1c1c23;
$grey-850: #16161d;
$grey-900: #0f0f14;
$grey-950: #030304;

// White
$white: #ffffff;

// Black
$black: #000000;

// Button
$button-close: #ff5d62;
$button-max: #98bb6c;
$button-min: #ffa066;

// Theme
$default-light: $blue-light;
$default-dark: $blue-dark;
